{
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "bracketSpacing": true
      }
    }
  ]
}
